.table-container{ 
    border-collapse:collapse;
    text-align: center;
    margin: 30px 0;
    margin-left: 10%;
    width: 80%;
    .header{
      .no-border{
        th{
          border: 0;
        }
      }
      th{
        background-color: cadetblue;
      }
    }
    .body{
      .inTheMoney{
        background-color: aquamarine;
      }
      .strikPrice{
        background-color: blanchedalmond;
      }
      .atTheMoney{
        background-color: greenyellow;
      }
      .outTheMoney{
        background-color: burlywood
      }
      .danger{
        color: red;
      }
    }
    tr,th,td{
      padding: 5px;
    }
  }